*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Inter Tight', sans-serif;
}

body{
    grid-template-columns: none;
}

.dark{
    --clr-primary: #34CAA5;
    --clr-secondary: white;
    --clr-cardborder: #EDF2F7;
    --clr--lightbackground: #F7F8FA;
    --clr--heading1: #26282C;
    --clr-heading3: #898989;
    --clr-heading4: #26282C;
    --clr-progress-bar-background: #F5F5F5;
    --icon-border: #dadddd;
}

:root{
    --clr-primary: #34CAA5;
    --clr-secondary: #222A39;
    --clr--heading1: white;
    --clr-heading3: #c6c6c6;
    --clr-heading4: #d9d9d9;
    --clr--lightbackground:#1a1a1a;
    --clr-progress-bar-background: #2F3A4F;
    --clr-cardborder: #2F3A4F;
    --icon-border: #2F3A4F;
}


.sidebar{
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80px;
    background-color: var(--clr--lightbackground);
    transition: all 0.5s ease;
    padding: 2rem 1rem;

}

/*.sidebar.active~.main-content{
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar #btn {
    position: absolute;
    color: white;
}*/

.sidebar .top .logo{
    align-items: center;
    justify-content: center;
    pointer-events: none;
    width: 50px;
    height: 50px;
    
}

.sidebar ul{
    margin-top: 2rem ;
}

.sidebar ul li{
    position: relative;
    list-style: none;
    height: 80%;
    width: 100%;
    
}

.sidebar ul li a{
    color: #B2ABAB;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    
}

.sidebar ul li a:hover{
    margin-left: .5rem;
    
}

.sidebar ul li a i{
    position: relative;
    min-width: 50px;
    text-align: center;
    border-radius: 12px;
    padding: .8rem 1rem;
}

/*.sidebar ul li a i:active{
    background: #34CAA5;
    color: #FAFAFA;
    margin: 0;
    
}*/

.sidebar ul li .active::before{
    content: '';
    width: 6px;
    height: 100%;
    background: var(--clr-primary);
}

.mode{
    display: flex;
    align-items: center;
}

.switchmode{
    position: relative;
    min-height: 110px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.switch{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.8em;
    padding-top: 2em;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 40px;
    border-radius: 25px;
    background-color:var(--clr-secondary);
}

.switch i{
    transform: translateY(-95%);
    color: var(--clr-secondary);
}

.switch::before{
    content: "";
    position: absolute;
    top: 25%;
    left: 5px;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    background-color: var(--clr-primary);
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
}

body.dark .switch:before{
    top: 60px;

}

.bottom{
    bottom: .5rem;
    position: absolute;
    width: 50px;
}

.main-content{
    position: relative;
    display: grid;
    background-color: var(--clr-secondary);
    min-height: 100vh;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 2rem;
}

.container{
    display: grid;
    grid-template-columns: auto;
    position: relative;
    gap: 20px;
    justify-content: space-between;

}

.header{
    display: flex;
    position: relative;
    justify-content: flex-start;
    margin: 0;
    gap: 1rem;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--clr-cardborder);
}


input{
    padding: .7em 1.7em;
    border-radius: 64px;
    border: 1px solid var(--icon-border);
    background: var(--clr-secondary);
    width: 270px;

}

input[type=text]{
    font-family: 'Inter Tight', sans-serif;
    font-size: 16px;
    font-weight: 400;
    
}

.search-container{
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin-left: 470px;
    gap: .5em;
    
}

.search-icon{
    color: var(--clr-secondary);
    background: var(--clr-primary);
    border: none;
    border-radius: 64px;
    padding: 1em;

    
}

.search p{
    font-family: 'Inter Tight', sans-serif;
    color: #A3A3A3;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .5px;
}

.date{
    display: flex;
    gap: .6rem;
    align-items: center;

    .date-text{
        display: flex;
        font-family: 'Inter Tight', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: var(--clr-heading4);
    }
}

.date i{
    color: var(--clr-heading4);
}

.notification-icon{
    border: 1.5px solid var(--icon-border);
    border-radius: 2rem;
    padding: .7rem .8rem;
    
}

.notification-icon i{
    color: var(--clr-heading3);
}


.profile{
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 2rem;
    border: 1.5px solid var(--icon-border);
    padding: .5rem;

}

.profile i{
    color: var(--clr-heading4);
}

.user-head-text{
    font-size: 13px; 
    font-weight: 500;
    color: var(--clr-heading4);
}

.user-subtext{
    font-family: 'Inter Tight', sans-serif;
    font-size: 8px;
    font-weight: 400;
    color: #787486;
}

.card-container{
    display: grid;
    position: relative;
    grid-template-columns: 65% 32%;
    gap: 24px;
    background: none;
}

.card-container-1{
    display: block;
    position: inherit;
    border: 1px solid var(--clr-cardborder);
    border-radius: 14px;
    background: var(--clr-secondary);
    padding: 2rem;
    font-family: 'Plus Jakarta Sans', sans-serif;

    .card1-header{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .sub{
        font-weight: 400;
        font-size: 14px;
        color: var(--clr-heading4);
    }

    .side-sort{
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .drop-down-selection{
        display: flex;
        gap: 10px;
        align-content: center;
        padding: .5em .8em;
        border: 1px solid var(--clr-cardborder);
        border-radius: 32px;

            .label{
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
                color: var(--clr-heading4);
            }

           
    }

    .drop-down-selection i{
        color: var(--clr--heading1);
    }

    .resize{
        width: 100%;
        height: 320px;
        

    }   
}



.card-container-2{
    display: grid;
    position: inherit;
    grid-template-columns: 50% 50%;
    gap: 1em;
    width: 97.5%;

    .card-sec{
        display: grid;
        line-height: 2em;
        background: var(--clr-secondary);
        border: 1px solid var(--clr-cardborder);
        border-radius: 14px;
        padding: 1em;

        .sec-icon{
            display: flex;
            gap: 50px;
            align-items: center;
        }


        .sec-icon i{
            padding: .5em;
            background: var(--clr-secondary);
            border: 1px solid var(--clr-cardborder);
            border-radius: 32px;
            color: var(--clr-primary);
        }

        .percent{
            padding: .3em .8em;
            background:  #34CAA51F;
            color: var(--clr-primary);
            font-size: 10px;
            border: none;
            border-radius: 32px;
        }

        .supporting-text{
            font-size: 13px;
            color: var(--clr-heading3);
        }


    }
}

h1{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 24px;
    line-height: 26px;
    font-weight: 600;
    color: var(--clr--heading1);
}

h3{
    color: var(--clr-heading3);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}


h4{
    color: var(--clr-heading4);
    font-weight: 500;
    font-size: 18px;
    font-family: 'Plus Jakarta Sans', 'sans-serif';
}

h5{
    color: var(--clr-primary);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Plus Jakarta Sans', 'sans-serif';
}

.card-container-3{
    display: flex;
    position: inherit;
    flex-direction: column;
    background: var(--clr-secondary);
    border: 1px solid var(--clr-cardborder);
    border-radius: 14px;
    padding: 2rem;
    gap: 1rem;

    .container-3-header{
        display: flex;
        justify-content: space-between;
    }

    table{
        width: 100%;
        text-align: left;
        transition: all .4s ease;
        margin-top: 2rem;
        justify-content: space-between;
        
    }
}

.thead tr{
    justify-content: left;
}

th{
    color: rgba(156, 164, 171, 1);
    font-size: 16px;
    font-weight: 500;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.card-container-3 table tbody tr{
    height: 4rem;
    border-bottom: 1px solid var(--icon-border);
    text-align: left;
    justify-content: space-between;

    

}

.card-container-3 table tbody td{
    height: 4rem;
    border-bottom: 1px solid var(--icon-border);
    color: var(--clr-heading4);

}

.card-container-3 table tbody tr:last-child td{
    height: 4rem;
    border-bottom: none;
    background: var(--clr-secondary);
    font-size: 15px;
    font-weight: 500;

}

.profile-pic{
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 32px;
    align-content: center;
    gap: 2em;
}

.invoice-sec{
    display: flex;
    gap: .5rem;
    align-items: center;
    font-size: 14px;

}

.card-container-4{
    display: flex;
    position: inherit;
    flex-direction: column;
    background: var(--clr-secondary);
    border: 1px solid var(--clr-cardborder);
    border-radius: 14px;
    padding: 2em;
    gap: 1.8em;
    width: inherit;
    

    .container-4-header{
        display: flex;
        justify-content: space-between;
    }

    .container-4-body{

        .con4-subbody{
            display: flex;
            flex-direction: column;
            gap: 2em;
            justify-content: space-evenly;
        }

        .after-progress-bar{
            display: flex;
            justify-content: space-between;
            
        }

        .after-progress-bar p{
            color: var(--clr-heading4);
            font-size: 16px;
            font-weight: 300;
            font-family: 'Plus Jakarta Sans', sans-serif;
        }

        .progress-bar{
            background: var(--clr-progress-bar-background);
            border-radius: 32px;
            width: 100%;
            height: 12px;
            margin: .6em  0em;

            

            .progress{
                width: 2%;
                height: 12px;
                border-radius: 32px;
                
            }        

        }
    
    }
}

.length1{
                        
    background: #6160DC;
    animation: length1 1s linear forwards;
        
}

.length2{
    background: #54C5EB;
    animation: length2 1s linear forwards;

        
}


.length3{
    background: #FFB74A;
    animation: length3 1s linear forwards;

        
}

.length4{
    background: #FF4A55;
    animation: length4 1s linear forwards;

        
}

@keyframes length1 {
    100%{
        width: 60%;
    }
}

@keyframes length2 {
    100%{
        width: 45%;
    }
}

@keyframes length3 {
    100%{
        width: 35%;
    }
}

@keyframes length4 {
    100%{
        width: 30%;
    }
}


/* ====================Media Queries======================*/

@media  screen and (max-width: 1200px) {
    .body{
        width: 94%;
    }

    .search-container{
        margin-left: 160px;
    }

    .card-container{
        grid-template-columns: 56% 41%;
        gap: 1em;
    }

    .resize{
        width: 100%;
        height: 320px;
    }


}

@media  screen and (max-width: 768px) {
    .body{
        width: 100%;
    }

    .search-container{
        margin-left: 150px;
        width: 200px;
    }

    input{
        width: 150px;
    }

    .profile{
        gap: 0;
    }

    .profile i{
        display: none;
    }

    .user-head-text{
        display: none;
    }

    .user-subtext{
        display: none;
    }

    .date{
        display: none;
    }

    .card-container{
        grid-template-columns: 100%;
        gap: 1em;
    }

    .resize{
        width: 550px;
        height: 320px;
        
    }


}


@media  screen and (max-width: 420px) {
    .body{
        width: 100%;
    }

    .header{
        display: flex;
        gap: 2.6em;
    }

    .search-container{
        margin-left: 0;
        width:200px;
    }

    input{
        width: 150px;
    }

    .profile{
        gap: 0;
        display: none;
    }

    .notification-icon{
        display: none;
    }

    .date{
        display: none;
    }

    .main-content{
        left: 0;
        width: 100%;
        padding: 1rem;
    }

    .card-container{
        grid-template-columns: 90%;
    }

    .card-container-2{
        gap: 12px;
        
    }

    .resize{
        width: 100%;
        height: 350px;
        overflow: hidden;
    }

}





